@use '../01-usables/usables' as *;
@use '../05-pages/menu' as *;

.gerecht-kiezen {
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    h2 {
        margin-top: $space-m-l;
    }

    .links {
        margin: 0 0 $space-m-l ;
    }

    ul {
        width: 80vw;
    }

    .gerechten {
        li {
            display: inline;
            margin-right: 10px;
        }
    }

    .no-bullet {
        list-style: none;

    }
}

#oude-card, #gerecht-verwijderen {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

section#gerecht-verwijderen {
    margin: $space-m-l 0;

    button.delete-btn {
        margin-top: $space-2xs-xs;
        padding: 6px 9px;
        font-size: 1em;
        background-color: red;
        color: $white;
        border: none;
        cursor: pointer;
        border-radius: 3px;
    }
}

.rood {
    color: red;
    font-weight: 500;
}

.menu-page-card {
    overflow: hidden;
    border-radius: 15px 0 15px 0;
    display: flex;
    -webkit-box-shadow: 0px 3px 15px 2px rgba(35, 31, 32, 0.15);
    box-shadow: 0px 3px 15px 2px rgba(35, 31, 32, 0.15);
    background-color: $cream;

    .menu-page-card-desc-icons {
        height: 15px;
        display: flex;
        align-items: center;
        overflow: hidden;
        gap: 3px;

        img {
            height: 15px;
        }
    }

    .menu-page-card-desc-price-icons {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        gap: 10px;
        width: 80%;
    }

    &-img {
        background-color: $white;
    }

    &-desc {
        padding: 11px;
        width: 60%;
        display: flex;
        flex-flow: column wrap;
        gap: 5px;
        // inline-size: 95%;
        // overflow-wrap: break-word;
        // word-wrap: break-word;

        h5 {
            line-height: 1;
        }

        p.menu-page-card-desc-price {
            font-size: 0.7em;
        }

        p.menu-page-card-desc-text {
            font-size: 0.65em;
            font-style: italic;
        }
    }
}

@media screen and (max-width: 820px) {
    .menu-page-card {
        flex-flow: column nowrap;
        width: 150px;
        height: 175px;

        &-img {
            height: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                height: 75%;
            }
        }
    }
}

@media screen and (min-width: 820px) {
    .menu-page-card {
        flex-flow: row wrap;
        min-width: 200px;
        width: 18vw;
        height: 110px;

        &.menu-box {
            width: 27vw;

            p.menu-page-card-desc-text {
                width: 16vw;
                display: inline-block;
            }

            .menu-page-card-img {
                width: 25%;
            }
        }

        &-img {
            display: grid;
            place-items: center;
            width: 40%;

            img {
                width: 80%;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .menu-page-card {
        width: 100px;
    }
}


.table-img {
    display: flex;
    flex-flow: row-reverse nowrap;

    img {
        width: 50px;
    }
    
}

input.prijs-bewerken, input.naam-bewerken {
    width: 75px;
}

