@use '../01-usables/usables' as *;

.menu-toevoegen, .menu-bewerken, .reservering-annuleren, .reservering-zoeken {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;

    h2 {
        margin: $space-m-l 0;
    }

    table {
        border-collapse: collapse;
        margin-bottom: $space-xs-s;
        width: 90vw;

        thead {
            background-color: $clr-primary;
        }
        td {
            padding: 4px 8px;
            border: 1px solid $black;
            width: fit-content;
            input {
                margin: auto;
                display: block;
                width: min-content;

                &.prijs {
                    width: 75px;
                }
                
                &.radio {
                    display: inline;
                }
            }
        }
    }
}