@use '../01-usables/usables' as *;

.menu-card {
    width: 220px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    flex-flow: column wrap;
    z-index: 00;
    background-color: black;
    
    &-text {
        left: 10px;
        width: 220px;
        height: 300px;
        padding: 20px 10px 40px 20px;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-end;
        z-index: 10;
        p {
            font-size: $step--2;
            position: relative;
            z-index: 0;
            height: calc($step--2 * 3);
        }

        &-title {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 10px;
            transform: translateY(25%);

            &-star {
                position: absolute;
                z-index: -3;
                left: -10px;
                top: -30px;
                img {
                    transform: scale(1.25);
                }
            }
        }


    }

    &-bg {
        height: 300px;
        width: 220px;
        overflow: hidden;
        position: absolute;
        z-index: -10;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        img {
            height: inherit;
            filter: blur(1);
        }
        &-overlay {
            width: 220px;
            height: 300px;
            border-radius: 10px;
            background: rgb(35, 31, 32);
            background: linear-gradient(180deg, rgba(35, 31, 32, 0.2413340336134454) 0%, rgba(35, 31, 32, 0.5102415966386555) 52%, rgba(35, 31, 32, 0.9360119047619048) 89%, rgba(35, 31, 32, 1) 95%);
            position: absolute;
        }
    }
}