@use '../01-usables/usables' as *;

#menu-open-contact {
    width: 100vw;
    display: flex;
    height: fit-content;
    background-color: $clr-secondary;
}

#open-contact {
    height: 610px;
    width: 30%;
    display: grid;
    
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr;

    gap: 0px;

    position: absolute;
    right: 0;
    z-index: 10;
}

#openingstijden {
    display: flex;
    position: relative;
    z-index: 10;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    padding: $space-s-m 0;

}

#openingstijden {
    background-color: $clr-secondary;
}

#openingstijden p, #prijzen  {
    text-align: center;
}

#prijzen {
    padding-top: $space-2xs-xs;
    background-color: $black;

    .subheading {
        margin-bottom: $space-3xs-2xs;
    }

    p.white {
        display: flex;
        align-items: center;
        flex-flow: column nowrap;
        gap: 15px;
    }
    
}

@media screen and (min-width: 875px) {
    #menu-open-contact {
        flex-flow: row wrap;
        display: flex;
    }
}

@media screen and (max-width: 875px) {
    #menu-open-contact {
        flex-flow: column wrap;
        display: flex;

        #menu {
            width: 100vw;
            justify-content: center;

            .menu-card:nth-of-type(4) {
                display: none;
            }
        }

        #open-contact {
            height: inherit;
            width: 100vw;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            position: static;

            #openingstijden {
                grid-area: 1 / 1 / 2 / 2;
            }
        
            #prijzen{
                grid-area: 2 / 1 / 4 / 2;

            p.white {
                    margin-bottom: $space-s-m;
                }
            }
        }
      
    }
}