@use '../01-usables/usables' as *;

nav {
    width: 100vw;
    margin-top: $space-2xs-xs;
    padding-bottom: $space-3xs-2xs;
    a {
        text-decoration: none; 
        color: $black;
        &:hover {
            color: $clr-secondary;
            text-decoration: $clr-primary underline;
            text-underline-offset: 3px;
        }
    }
}

@media screen and (max-width: 1099px) {
    .desktop, .nav-logo, #nav-logo-img {
        display: none;
    }
    

    .phone {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: $space-xs-s 10vw;

        .nav-phone-logo {
            height: fit-content;
            width: fit-content;
            display: flex;
            align-items: center;
            overflow: hidden;

            img {
                height: 50px;
            }
        }

        i#open-button {
            font-size: 32px;
            width: 40px;
            height: 40px;
            background-color: $clr-primary;
            display: grid;
            place-items: center;
        }


        #nav-tel-menu {
            display: none;
        }
    }
}

@media screen and (min-width: 1100px) {
    .desktop {
            width: 80vw;
            height: 10vh;
            margin: 0 auto;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
    
            .nav-links {
                ul {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: flex-start;
                    list-style-type: none;
    
                    li {
                        margin-right: $space-2xs-xs;
                    }
                }
            }
    
            .nav-links,
            .nav-rechts {
                width: fit-content;
                height: 100%;
                display: flex;
                align-items: center;
            }
    
        }

    .nav-logo {
        height: 7.5vh;
        display: flex;
        align-items: center;
        overflow: hidden;
        position: absolute;
        top: 0;
        margin-top: $space-2xs-xs;
        left: 45%;

        #nav-logo-img {
            height: 100%;
        }
    }

    .phone {
        display: none;
    }
}

#nav-tel-menu.show {

    display: flex;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: $white;
    justify-content: center;
    flex-flow: column wrap;    
    padding: $space-2xs-xs 10vw;

    #nav-tel-menu-top {
        width: 80vw;
        display: flex;
        margin: 0 auto;
        position: absolute;
        top: $space-2xs-xs;
        align-items: center;
        justify-content: space-between;
        display: flex;
        padding: $space-xs-s 0;

        img {
            height: 50px;
        }

        i {
            font-size: 32px;
            background-color: $clr-primary;
            height: min-content;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    #nav-tel-menu-list {
        text-align: center;
        align-self: center;
        li {
            list-style: none;
            a {
                font-size: 1.5em;
                
                &:hover {
                    text-decoration: underline;
                    text-decoration-color: $clr-secondary;
                    color: $clr-secondary;
                }
            }
        }
    }
}